{% extends "base.html" %}
{% block title %}Frequently Asked Questions{% endblock %}
{% block content %}
	<div id="faq-content">
		<a name="q1"></a>
		<h3>What is EGX?</a></h3>
		<p>It's only the UK's biggest video games event! Come along and you'll find the most anticipated console and PC games, all playable weeks or months before they're released. We also have presentations by game designers from world renowned studios, areas dedicated to esports, the opportunity to meet and chat with game creators and loads more.</p>
		
		<a name="q2"></a>
		<h3>When do tickets go on sales for 2015?</h3>
		<p>Tickets will be available from the 20th March.</p>
		
		<a name="q3"></a>
		<h3>When and where is this year's EGX?</h3>
		<p>EGX 2015 takes place at the NEC in Birmingham on the 24th to 27th September. Visit the directions page for more information on the venue.</p>
		
		<a name="q4"></a>
		<h3>What are the opening and closing times for EGX?</h3>
		<p>Day ticket entry is 11am. Entry for press pass, early entry and super pass ticket holders is 10am. EGX closes at 6pm and last entry is at 5pm.</p>
		
		<a name="q5"></a>
		<h3>I'm bringing a young child with me, do I need to purchase a ticket for them?</h3>
		<p>Under 10s go free, however, please note that this offer is restricted to one child per ticket paying adult. Additional children will need to have tickets.</p>
		
		<a name="q6"></a>
		<h3>I bought a ticket but now I can't attend. Can I have a refund?</h3>
		<p>Alas, we aren't able to offer refunds, however, tickets are transferable so feel free to give your ticket to a friend. If you'd like to change the day of your ticket please contact us and we should be able to swap it. Bear in mind that we won't be able to switch the day of a ticket to a day that has sold out.</p>
		
		<a name="q7"></a>
		<h3>Do you offer complimentary tickets for carers?</h3>
		<p>We certainly do. Please contact us and we'll be happy to help.</p>
		
		<a name="q8"></a>
		<h3>I just bought a ticket or wristband on eBay / Gumtree / some dude in a pub...</h3>
		<p>If you purchased your ticket directly from this website you won't have a problem, however, beware! Tickets bought via third parties aren't guaranteed to be valid! Every barcode is unique, if you arrive at our registration desk and the barcode has already been scanned you will be turned away. Never purchase a wristband, it's almost certainly a fake.</p>
		
		<a name="q9"></a>
		<h3>Are there any age restrictions for EGX?</h3>
		<p>Visitors of all ages are welcome to attend, however, under 16s need to be accompanied by a parent or guardian. It's fine for one parent or guardian to accompany a group of under 16s. EGX will feature a number of 18+ rated games and developer sessions. Under 18s will not be permitted to play these games or attend these sessions even if they are accompanied by a parent.</p>
		
		<a name="q10"></a>
		<h3>>What forms of ID do you accept?</h3>
		<p>We're able to accept any form of photo ID that features your date of birth; passports, driving licenses etc. If you don't fancy bringing your ID a photocopy is acceptable. If you don't have any suitable ID we recommend applying for a <a href="http://www.citizencard.com/">citizen card</a>.</p>
		
		<a name="q11"></a>
		<h3>I can't print out my ticket! Now what?</h3>
		<p>Write down the long number below the barcode on your e-ticket and bring it with you. We can also scan tickets from most smartphones.</p>
		
		<a name="q12"></a>
		<h3>I'm organising a trip for a school, college or university and need an invoice.</h3>
		<p>No problem! Drop us a line via our contact page and we'll be happy to help. Please note, we will be happy to provide complimentary tickets for teachers / tutors who are attending EGX as part of a trip.</p>
		
		<a name="q13"></a>
		<h3>I have purchased a bunch of tickets for me and my friends but we won't be arriving at the same time. What should I do?</h3>
		<p>In this instance the first person to arrive should collect the wristbands for the party. This person will then need to leave the venue temporarily to pass on the remaining wristbands as their friends arrive.</p>
		
		<a name="q14"></a>
		<h3>I'd h3ke to exhibit!</h3>
		<p>Great! Drop us a line via the contact form and we'll get straight back to you with a price list.</p>
		
		<a name="q15"></a>
		<h3>When are you announcing the games?</h3>
		<p>We're working hard to secure the best games and features for EGX 2015. We'll list everything on the website as soon as we can but please bear in mind that we need the go ahead from our exhibitors before we're able to reveal the goodies. Follow us on twitter and facebook for the latest developments.</p>
		
		<a name="q16"></a>
		<h3>Does EGX have the same features on all four days?</h3>
		<p>The playable games and features will be the same on each day, however, the developer sessions schedule will differ from day-to-day. Don't worry though, all sessions will be available to watch live or later via our Twitch channel.</p>
		
		<a name="q17"></a>
		<h3>Where can I get a bite to eat and a drink?</h3>
		<p>There are plenty of catering outlets within the NEC. You can find more information on the NEC's website. You are welcome to bring your own food to the event.</p>
		
		<a name="q18"></a>
		<h3>Is wifi available inside the venue?</h3>
		<p>The NEC has free public wifi but, with so many people trying to access it, don't bet on it being reliable!</p>
		
		<a name="q19"></a>
		<h3>Are there cloakroom facilities?</h3>
		<p>Yep, there are plenty of cloakrooms. Visitors can store bags, coats and luggage for £1 per item per day. Overnight storage is not available.</p>
		
		<a name="q20"></a>
		<h3>Are prayer room facilities available?</h3>
		<p>The NEC has a multi-faith prayer room available for prayer, reflection or meditation - located on the Piazza (Halls 1-5) next to the chaplaincy office. It has a washing facility, prayer mats, holy books and other resources for prayer which have been donated by representatives of local faiths.<p>
		
		<a name="q21"></a>
		<h3>Do I need a press pass in order to film, conduct interviews or take photos at the event?</h3>
		<p>No! Everybody is welcome to take pictures etc. Please bear in mind that some exhibitors may ask you not to film or photograph certain games. We ask that you respect their wishes in this case.</p>
		
		<a name="q22"></a>
		<h3>Is there disabled access at the event?</h3>
		<p>The NEC is committed to being accessible to all and we aim to make all aspects of EGX accessible to all our visitors. The NEC's mobility service partner, <a href="http://www.bartrams.net/">Bartrams</a>, operate a mobility equipment hire service. A Changing Places toilet is also available in the Hall 20 Atrium area. It provides more space for up to 2 carers - and extra features to meet additional needs, including height adjustable adult-sized changing benches and a hoist system.</p>
		
		<a name="q23"></a>
		<h3>I'm an indie dev and I'm interested in exhibiting my game in the Leftfield Collection.</h3>
		<p>Please bear in mind that although it's free to exhibit in the Leftfield Collection, there is a hugely competitive selection process to navigate. We aren't accepting submissions at the moment but sign up and we'll notify you once submissions are open.</p>
	</div>
	
	<aside>
		<h2>Still Have a Question?</h2>
		<p>Please send a message via our contact page and we'll be happy to answer your query.</p>

		<h2>Questions</h2>
		<ul>
			<li><a href="#q1">What is EGX?</a></li>
			<li><a href="#q2">When do tickets go on sales for 2015?</a></li>
			<li><a href="#q3">When and where is this year's EGX?</a></li>
			<li><a href="#q4">What are the opening and closing times for EGX?</a></li>
			<li><a href="#q5">I'm bringing a young child with me, do I need to purchase a ticket for them?</a></li>
			<li><a href="#q6">I bought a ticket but now I can't attend. Can I have a refund?</a></li>
			<li><a href="#q7">Do you offer complimentary tickets for carers?</a></li>
			<li><a href="#q8">I just bought a ticket or wristband on eBay / Gumtree / some dude in a pub...</a></li>
			<li><a href="#q9">Are there any age restrictions for EGX?</a></li>
			<li><a href="#q10">What forms of ID do you accept?</a></li>
			<li><a href="#q11">I can't print out my ticket! Now what?</a></li>
			<li><a href="#q12">I'm organising a trip for a school, college or university and need an invoice.</a></li>
			<li><a href="#q13">I have purchased a bunch of tickets for me and my friends but we won't be arriving at the same time. What should I do?</a></li>
			<li><a href="#q14">I'd like to exhibit!</a></li>
			<li><a href="#q15">When are you announcing the games?</a></li>
			<li><a href="#q16">Does EGX have the same features on all four days?</a></li>
			<li><a href="#q17">Where can I get a bite to eat and a drink?</a></li>
			<li><a href="#q18">Is wifi available inside the venue?</a></li>
			<li><a href="#q19">Are there cloakroom facilities?</a></li>
			<li><a href="#q20">Are prayer room facilities available?</a></li>
			<li><a href="#q21">Do I need a press pass in order to film, conduct interviews or take photos at the event?</a></li>
			<li><a href="#q22">Is there disabled access at the event?</a></li>
			<li><a href="#q23">I'm an indie dev and I'm interested in exhibiting my game in the Leftfield Collection.</a></li>
		</ul>
	</aside>
	
	<div class="floatclear"></div>
{% endblock %}
	
{% block scripts %}
	<script type="text/javascript">
		$(function() {
			$('a[href*=#]:not([href=#])').click(function() {
				if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
					var target = $(this.hash);
					target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
					if (target.length) {
					$('html,body').animate({
						scrollTop: target.offset().top - 60
					}, 1000);
						return false;
					}
				}
			});
		});
	</script>
{% endblock %}