{% extends "base.html" %}
{% block title %}Buy a Ticket{% endblock %}
{% block content %}
	<form>
		<table width="100%">
			<tr>
				<td><h3>Multi-Day Tickets</h3></td>
			</tr>
			<tr>
				<td>Super Pass (4-day Early Entry)<br><small>10am-6pm</small></td>
				<td>
					<select><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select>
				</td>
				<td>
					£60.00
				</td>
			</tr>

			<tr>
				<td><h3>Thursday 24th September</h3></td>
			</tr>
			<tr>
				<td>Early Entry<br><small>10am-6pm</small></td>
				<td>
					<select><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select>
				</td>
				<td>
					£20.00
				</td>
			</tr>
			<tr>
				<td>Day Ticket<br><small>11am-6pm</small></td>
				<td>
					<select><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select>
				</td>
				<td>
					£17.50
				</td>
			</tr>

			<tr>
				<td><h3>Friday 25th September</h3></td>
			</tr>
			<tr>
				<td>Early Entry<br><small>10am-6pm</small></td>
				<td>
					<span class="sold-out">SOLD OUT</span>
				</td>
				<td>
					£20.00
				</td>
			</tr>
			<tr>
				<td>Day Ticket<br><small>11am-6pm</small></td>
				<td>
					<select><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select>
				</td>
				<td>
					£17.50
				</td>
			</tr>

			<tr>
				<td><h3>Saturday 26th September</h3></td>
			</tr>
			<tr>
				<td>Early Entry<br><small>10am-6pm</small></td>
				<td>
					<span class="sold-out">SOLD OUT</span>
				</td>
				<td>
					£20.00
				</td>
			</tr>
			<tr>
				<td>Day Ticket<br><small>11am-6pm</small></td>
				<td>
					<select><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select>
				</td>
				<td>
					£17.50
				</td>
			</tr>

			<tr>
				<td><h3>Sunday 27th September</h3></td>
			</tr>
			<tr>
				<td>Early Entry<br><small>10am-6pm</small></td>
				<td>
					<span class="sold-out">SOLD OUT</span>
				</td>
				<td>
					£20.00
				</td>
			</tr>
			<tr>
				<td>Day Ticket<br><small>11am-6pm</small></td>
				<td>
					<select><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select>
				</td>
				<td>
					£17.50
				</td>
			</tr>
		</table>
	</form>
{% endblock %}