{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}
{% block content %}
	<div class="contact-cube">
		<h2>By Email</h2>
		<p>The best way to get in touch is to email us. We attempt to answer all emails within 48 hours, if not sooner. Please include as much detail as you can, and your receipt number if applicable to speed up the process for support.</p>
		<a href="mailto:contact@egx.net"><div class="button-reg">Send Us An Email</div></a>
	</div>
	<div class="contact-cube">
		<h2>By Phone</h2>
		<p>If you wish to call us, our lines are open Monday to Saturday, 9am to 5pm. Although we have international numbers, please bear in mind of roaming charges when calling abroad. We strongly recommend you do not call on mobiles due to this.</p>
		<ul>
			<li>United Kingdom - <b>0800 923 321</b></li>
			<li>International - <b>+44800 923 321</b></li>
		</ul>
	</div>

	<div class="floatclear"></div>
{% endblock %}
{% block scripts %}
{% endblock %}