<!DOCTYPE html>
	<html lang="en">
	<head>
		<title>EGX - Home</title>
		{% include 'template/headers.html' %}
	</head>
	<body>
		{% include 'template/header.html' %}
		<div id="video-container">
			<div id="intro-text" data-stellar-ratio="0.5">
				<img src="image/logo.png" width="40%">
				<p>EGX is the UKs biggest gaming exhibition held each year at the NEC in Birmingham. Filled to the brim with the most anticipated games of the year, we have the biggest shooters, racers and more of the year all under one roof. We also countless tournaments featuring League of Legends and Dota 2. With state of the art technology powering the event, this is one of the biggest the world has ever seen. Be a part of it. Get your tickets now.</p>
			</div>

			<video src="image/video.mp4" muted autoplay loop></video>
		</div>
		<main id="home">
			<div id="main-inner">
				<div id="home-content">
					<h2>Sub-Title Text</h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati laboriosam pariatur dignissimos natus odit doloremque delectus atque nihil quia assumenda, perferendis, molestiae illo in! Totam qui vitae fuga blanditiis dicta, iusto, optio iure ducimus earum quibusdam tempora eligendi, aperiam sequi obcaecati maxime, autem. Aperiam aliquam, dolores doloremque, animi nobis aliquid veniam saepe et, totam nesciunt possimus labore accusantium, iusto illo. Incidunt itaque corporis vero, quod qui mollitia. Dicta enim illum nemo, eum ex voluptate magnam quae quo quaerat laudantium dignissimos dolor quisquam earum nisi velit aperiam ad sint odit. Itaque asperiores, veniam sunt, esse eos repellat nemo ullam! Vero, beatae!				
				</div>
				
				<aside>
					<h2>Get EGX Updates</h2>
					<p>Sign up to the EGX email newsletter and get game announcements and more!</p>
					<form>
						<input type="text">
						<input type="submit" value="Sign Up">
					</form>

					<h2>Twitter</h2>
					<a href="https://twitter.com/egx"><p>Follow us on Twitter to stay up to date with all EGX announcements.</p></a>
					
					<h2>Facebook</h2>
					<a href="https://www.facebook.com/EurogamerExpo"><p>Like our page for photos fresh from the show floor and the latest EGX news. </p></a>
					
					<h2>YouTube</h2>
					<a href="https://youtube.com/egxtv"><p>Subscribe to our YouTube channel to catch up on any developer sessions you may have missed. </p></a>
					
					<h2>Twitch</h2>
					<a href="http://www.twitch.tv/egx"><p>Follow us on Twitch and watch every developer session live. </p></a>

				</aside>
				
				<div class="floatclear"></div>

				<h2>Sponsors</h2>
				<table width="100%" id="sponsor-table-home">
					<tr>
						<td><img width="100%" src="image/sponsor-logos/virginmedia.gif"></td>
						<td><img width="100%" src="image/sponsor-logos/asus.gif"></td>
						<td><img width="100%" src="image/sponsor-logos/mozilla.gif"></td>
						<td><img width="100%" src="image/sponsor-logos/nvidia.gif"></td>
						<td><img width="100%" src="image/sponsor-logos/microsoft.gif"></td>
					</tr>
				</table>
			</div>
		</main>
		{% include 'template/footer.html' %}
		<script type="text/javascript" src="script/jquery.js"></script>
		<script type="text/javascript" src="script/stellar.js"></script>
		<script type="text/javascript" src="script/sticky.js"></script>
		<script type="text/javascript">
			$('video').hide();
			
			$('video').ready(function() {
				$('video').fadeIn(2000);
			})

			$.stellar();

			$(document).ready(function(){
                $("header").sticky({topSpacing:0});
            });
		</script>
	</body>
</html>