<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Page Title</title>
		<link rel="stylesheet" type="text/css" href="style/normalize.css">
		<link rel="stylesheet" type="text/css" href="style/stylesheet.css">
	</head>
	<body>
		{% include 'template/header.html' %}
		<br><br>
		Hello!
		<br><br>
		{% include 'template/footer.html' %}
		<script type="text/javascript" src="script/jquery.js"></script>
		<script type="text/javascript" src="script/stellar.js"></script>
	</body>
</html>