{% extends "base.html" %}
{% block title %}Venue{% endblock %}
{% block content %}
	<p>The venue for this year's event is The NEC in Birmingham.</p>

	<iframe width="100%" height="490" frameborder="0" src="http://www.bing.com/maps/embed/viewer.aspx?v=3&cp=52.451366~-1.719315&lvl=14&w=100%&h=490&sty=r&typ=d&pp=&ps=&dir=0&mkt=en-gb&src=SHELL&form=BMEMJS"></iframe>

	<div class="tile-block">
		<h2>By Train</h2>
		<p>The NEC is right next to Birmingham International rail station. The NEC entrance is on the right hand side as you exit the station, and clearly signposted.</p>
		<p>Many services run direct to Birmingham International. If yours doesn’t, you can catch a connecting train at Birmingham New Street.</p>
		<p>If you're travelling by Virgin Trains, you can claim a 25% discount on the cost of your train ticket by <a href="http://www.virgintrains.co.uk/nec-venues/nec/">booking online</a>. You will need to present your EGX ticket in conjunction with your train ticket when travelling.</p>
		<p>For the best deals on train tickets remember to book early. Tickets can be purchased three months before you travel so book in late June to find the cheapest rates.</p>
	</div>
	
	<div class="tile-block">
		<h2>By Plane</h2>
		<p>The NEC is just minutes away from Birmingham Airport (BHX) — which is very handy for international visitors.</p>
		<p>From the airport, simply take the free and fast Air-Rail Link to Birmingham International railway station and then it’s just a short walk to our entrance. The Air-Rail Link runs every two minutes and takes just 90 seconds to reach the NEC. It leaves the airport from the upper level of Terminal 1, and operates daily between 0515 and 0200.</p>
	</div>
	
	<div class="tile-block">
		<h2>By Car</h2>
		<p>The NEC is in the perfect location for car travel - 8 miles east of Birmingham city centre, and at the heart of the UK motorway network.</p>
		<p>Parking is £12 per day (this includes disabled parking) and motorcycle parking is free.</p>
		<p>We advise you to take the toll road.</p>
	</div>
		
	<div class="tile-block">
		<h2>By Bus</h2>
		<p>Coach services are operated by National Express and Megabus, with over 120 daily services from across the UK to Birmingham Airport. From here you can get to the NEC in minutes on the free air-rail link.</p>
		<p>Regular local buses depart from Birmingham City Centre. The 900 service runs every 15 mins during the day taking approximately 30 mins. The 97 service operates every 30 mins, 24hrs a day taking approximately 45 mins.</p>
		<p>Local bus services also run every 30 mins throughout the day to Solihull (service 966) and Coventry (service 900).</p>
	</div>
		
	<div class="tile-block">
		<h2>Accommodation</h2>
		<p>There are a number of hotels close to the NEC, however, they are in high demand and prices will rise as the event gets closer. Book early to take advantage of the best rates.</p>
		<ul>
			<li><a href="http://www.ibis.com/gb/hotel-6359-ibis-birmingham-airport/index.shtml">Ibis Birmingham Airport</a></li>
			<li><a href="http://www.premierinn.com/en/hotel/BIRPLI/birmingham-nec/airport">Premier Inn Birmingham NEC</a></li>
			<li><a href="http://www.novotel.com/gb/hotel-1158-novotel-birmingham-airport/index.shtml">Novotel Birmingham Airport</a></li>
			<li><a href="http://www.ardenhotel.co.uk/">The Arden</a></li>
			<li><a href="http://www.accorhotels.com/gb/hotel-6365-etap-hotel-birmingham-airport-soon-ibis-budget/index.shtml">Etap Birmingham Airport</a></li>
			<li><a href="http://www.ihg.com/holidayinnexpress/hotels/gb/en/birmingham/bhxec/hoteldetail">Holiday Inn Birmingham NEC</a></li>
			<li><a href="http://www3.hilton.com/en/hotels/united-kingdom/hilton-birmingham-metropole-BHXMETW/index.html">Hilton Birmingham Metropole</a></li>
			<li><a href="http://www.ihg.com/crowneplaza/hotels/gb/en/birmingham/bhxpw/hoteldetail?cm_mmc=GoogleMaps-_-cp-_-GBEN-_-bhxpw">Crowne Plaza Birmingham NEC</a></li>
		</ul>
		<p>To avoid the high prices of hotels near the NEC, you may want to investigate hotels in Solihull, Birmingham city centre or Coventry. Another option worth considering is <a href="https://www.airbnb.co.uk/">Airbnb.</a></p>
	</div>
	
	<div class="tile-block">
		<h2>Need More Help?</h2>
		<p>For more information on getting to the NEC please visit the <a href="http://www.thenec.co.uk/visiting-us/getting-here/">venue's website.</a></p>
	</div>
	
	<div class="floatclear"></div>
{% endblock %}

{% block scripts %}

{% endblock %}