<footer>
	<div id="footer-inner">
		<div id="footer-left">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae necessitatibus incidunt nesciunt, aperiam id repudiandae? Ducimus mollitia ex quidem nesciunt!
		</div>
		<div id="footer-right">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia corporis aliquid voluptates voluptatum ipsum culpa, nam voluptate.
		</div>

		<div class="floatclear"></div>
		<br>
		<p>Developed by Sam Bunting. This website is not affiliated or endorsed by Gamer Events Ltd or Gamer Network. Created for educational purposes only. No payment or personal information is collected by this site. Tickets for EGX cannot be purchased here. Vist <a href="https://www.egx.net/egx">www.egx.net/egx</a> for the official site.<br><br> <a href="https://github.com/sambunting/EGX">Source code available on GitHub.</a></p>
	</div>
</footer>