<div id="header-top">
	<ul id="social-icons">
		<li><a href="https://www.facebook.com/EurogamerExpo"><img src="image/icons/facebook.png"></a></li>
		<li><a href="http://www.twitch.tv/egx"><img src="image/icons/twitch.png"></a></li>
		<li><a href="https://twitter.com/egx"><img src="image/icons/twitter.png"></a></li>
		<li><a href="https://youtube.com/egxtv"><img src="image/icons/youtube.png"></a></li>
	</ul>

	<div class="floatclear"></div>
</div>
<header>
	<div id="header-inner">
		<nav>
			<a href="index"><img src="image/logo.png" width="180"></a>
			<a href="venue">Venue</a>
			<a href="">Whats On</a>
			<a href="">Sponsors</a>
			<a href="about">FAQ</a>
			<a href="contact">Contact Us</a>
			<a href="buy" id="special">Buy Tickets</a>
			<div class="floatclear"></div>
		</nav>
	</div>
</header>